<template>
    <span>
        <div class="panel-block">
            <p class="control has-icons-left">
                <input id="search_box" type="text" class="input is-small" placeholder="search" v-model="search_query" @keyup="app.search()">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
        <p class="panel-tabs">
            <a :class="{'is-active': page === 'password_vault'}" @click="app.navigate('password_vault')">passwords</a>
            <a :class="{'is-active': page === 'mfa'}" @click="app.navigate('mfa')">otp</a>
            <a href="">notes</a>
        </p>
    </span>
</template>

<script>
export default {
  name: "PanelHeader",
  props: ["app"],
  data: function() {
      return this.app.state;
  }
}
</script>
